rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /car_rent_friends/{friendId} {
      allow read: if isSignedIn() && (resource == null || resource.data.userid == request.auth.uid);
      allow create: if isSignedIn() && request.resource.data.userid == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userid == request.auth.uid && request.resource.data.userid == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userid == request.auth.uid;
    }

    match /car_rent_trips/{tripId} {
      allow read: if isSignedIn() && (resource == null || resource.data.userid == request.auth.uid);
      allow create: if isSignedIn() && request.resource.data.userid == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userid == request.auth.uid && request.resource.data.userid == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userid == request.auth.uid;
    }

    match /car_rent_collections/{collectionId} {
      allow read: if isSignedIn() && (resource == null || resource.data.userid == request.auth.uid);
      allow create: if isSignedIn() && request.resource.data.userid == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userid == request.auth.uid && request.resource.data.userid == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userid == request.auth.uid;
    }

    match /car_rent_driver_payments/{paymentId} {
      allow read: if isSignedIn() && (resource == null || resource.data.userid == request.auth.uid);
      allow create: if isSignedIn() && request.resource.data.userid == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userid == request.auth.uid && request.resource.data.userid == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userid == request.auth.uid;
    }

    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
